body{
    background-image: linear-gradient(to right, #00ff7e , #00f3ff);
}

.w50{
    width: 50%;
}

.mt20{
    margin-top: 20px;
}


.sign .container{
    padding: 100px;

}
.ui.grid{
    margin: 0;
}
.generalGrid{
    margin: 0 !important;
    padding: 90px !important;
    border: 0px solid white;
}

h2.ui.center.aligned.header.headerSign{
    font-size: -webkit-xxx-large;
    color: #17084a;

}

.ui.input input{
    text-align: center;
}

.sign {
    color: #0288d1;
    transition: color .1s ease;
    /*font-weight: bold;*/
    font-size: 14px;
    
}
.ui.checkbox {
    color: #0288d1;
    transition: color .1s ease;
    /*font-weight: bold;*/
    font-size: 14px;
    padding-left: 52%
}
.ui.checkbox+label{
    color: #0288d1;
    transition: color .1s ease;
    /*font-weight: bold;*/
    font-size: 14px;
   
}

.lostPassword{
    float: inline-end;
    font-size: 15px;
    padding-left: 10%;

}

.loginButton{
    margin-bottom: 2em !important;
}

.loginButton .ui.blue.button{
    width: 20%;
    height: 3em;
    font-size: 15px;
}